<%= form_for(@group_purchase) do |f| %>
  <% if @group_purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_purchase.errors.count, "error") %> prohibited this group_purchase from being saved:</h2>

      <ul>
      <% @group_purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Purchase Name" %><br />
    <%= f.text_field :purchaseName %>
  </div>
  <br />
  <div class="field">
    <%= f.label :balance %><br />
    <b>$ </b><%= f.number_field :balance , :step=>".01", :max=>"100000", :min=>"0"%>
  </div>
  <div class="actions">
    <%= f.submit "Create Group Purchase", :class=>"btn" %>
  </div>
<% end %>
